</br>
</br>
</br>

<p id="notice"><%= notice %></p>

<h1>Listing St Categories</h1>

<table>
  <thead>
    <tr>
      <th>Nome categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @st_categories.each do |st_category| %>
      <tr>
        <td><%= st_category.nome_categoria %></td>
        <td><%= link_to 'Show', st_category %></td>
        <td><%= link_to 'Edit', edit_st_category_path(st_category) %></td>
        <td><%= link_to 'Destroy', st_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New St category', new_st_category_path %>
