<br>
<br>

<p id="notice"><%= notice %></p>

<h3>Lista Itens</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @st_items.each do |st_item| %>
      <tr>
        <td><%= st_item.nome_item %></td>
        <td><%= link_to 'Exibir', st_item %></td>
        <td><%= link_to 'Editar', edit_st_item_path(st_item) %></td>
        <td><%= link_to 'Deletar', st_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Item', new_st_item_path %>
