<p id="notice"><%= notice %></p>

<h4>Litar de Produtos</h4>

<table class="table table-hover"> 
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Nome</th>
      <th>Valor produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @st_produtos.each do |st_produto| %>
      <tr>
        <td><%= st_produto.st_categoriaproduto.nome_categoria %></td>
        <td><%= st_produto.nome_produto %></td>
        <td><%= st_produto.valr_produto %></td>
        <td><%= link_to 'Exibir', st_produto %></td>
        <td><%= link_to 'Editar', edit_st_produto_path(st_produto) %></td>
        <td><%= link_to 'Deletar', st_produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_st_produto_path %>
