<p id="notice"><%= notice %></p>

<h1>Listing St Bairros</h1>

<table>
  <thead>
    <tr>
      <th>Nome bairro</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>St cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @st_bairros.each do |st_bairro| %>
      <tr>
        <td><%= st_bairro.nome_bairro %></td>
        <td><%= st_bairro.latitude %></td>
        <td><%= st_bairro.longitude %></td>
        <td><%= st_bairro.st_cidade %></td>
        <td><%= link_to 'Show', st_bairro %></td>
        <td><%= link_to 'Edit', edit_st_bairro_path(st_bairro) %></td>
        <td><%= link_to 'Destroy', st_bairro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New St bairro', new_st_bairro_path %>
