<%= form_for(@st_estado) do |f| %>
  <% if @st_estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@st_estado.errors.count, "error") %> prohibited this st_estado from being saved:</h2>

      <ul>
      <% @st_estado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_estado %><br>
    <%= f.text_field :nome_estado %>
  </div>
  <div class="field">
    <%= f.label :sigl_estado %><br>
    <%= f.text_field :sigl_estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
