<p id="notice"><%= notice %></p>

<h1>Listing St Estados</h1>

<table>
  <thead>
    <tr>
      <th>Nome estado</th>
      <th>Sigl estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @st_estados.each do |st_estado| %>
      <tr>
        <td><%= st_estado.nome_estado %></td>
        <td><%= st_estado.sigl_estado %></td>
        <td><%= link_to 'Show', st_estado %></td>
        <td><%= link_to 'Edit', edit_st_estado_path(st_estado) %></td>
        <td><%= link_to 'Destroy', st_estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New St estado', new_st_estado_path %>
