<%= form_for(@st_categoriaproduto) do |f| %>
  <% if @st_categoriaproduto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@st_categoriaproduto.errors.count, "error") %> prohibited this st_categoriaproduto from being saved:</h2>

      <ul>
      <% @st_categoriaproduto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_categoria %><br>
    <%= f.text_field :nome_categoria %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
