<p id="notice"><%= notice %></p>

<h1>Listing St Categoriaprodutos</h1>

<table>
  <thead>
    <tr>
      <th>Nome categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @st_categoriaprodutos.each do |st_categoriaproduto| %>
      <tr>
        <td><%= st_categoriaproduto.nome_categoria %></td>
        <td><%= link_to 'Show', st_categoriaproduto %></td>
        <td><%= link_to 'Edit', edit_st_categoriaproduto_path(st_categoriaproduto) %></td>
        <td><%= link_to 'Destroy', st_categoriaproduto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New St categoriaproduto', new_st_categoriaproduto_path %>
