
<div id="page-wrapper">
			<!-- Header -->
				<header id="header" class="alt">
					    <link rel="stylesheet" href="/assets/template/main.css" />
					      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> 
					<h1><a href="index.html">Kiperto</a></h1>
					<nav id="nav">
						<ul>
							<!--<li><a href="index.html">Home</a></li>-->
							<li>
								<a href="#" class="icon fa-angle-down">Mais</a>
								<ul>
									<li><a href="<%=contact_path%>">Contatos</a></li>
									<li><a href="elements.html">Elements</a></li>
									<!--<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>-->
								</ul>
							</li>
							<li><a href="#" class="button">Cadastrar</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Kiperto</h2>
					<p>Encontre tudo perto de você.</p>
					<ul class="actions">
						<li><a href="#" class="button"><%=@st_cidade.nome_cidade%></a></li>
						<li><a href="#" class="button"><%=@st_cidade.st_estado.sigl_estado%></a></li>
						<!--<li><a href="#" class="button special">Sign Up</a></li>-->
					</ul>

            	 <%= form_tag(pesquisa_path, :method=>'GET') do %>
			             <input type="hidden" id="bairro" name="bairro" >
			           <button class="btn btn-primary" style="display: none;" id="BotaoPesquisa" type="submit" ></button>

			           <div class="row uniform 50%">
							<div class="3u 12u(mobilep)">
							</div>
							<div class="4u 12u(mobilep)">
								<input type="text" name="nome_bairro" id="nome_bairro" onfocus="javascript:$(this).autocomplete('search','');" placeholder="Pesquise pelo bairro" />
							</div>
							<div class="1u 12u(mobilep)">
								<input type="button" class="button special" onclick="Pesquisar()" id="Pesquisa" value="Pesquisar" class="fit" />
							</div>
						</div>
                 <%end%>
             					
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Kiperto você encontra
							<br />
							tudo que procura</h2>
							<p>Anuncie no kiperto e tenha seu negócio sendo visto por milhares de pessoas.</p>
						</header>
						<!--<span class="image featured"><%= image_tag ("pic01.jpg")%></span>-->
					</section>

					<!--<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Magna etiam</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Ipsum dolor</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Sed feugiat</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Enim phasellus</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
					</section> -->

					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><%= image_tag ("pic02.jpg")%></span>
								<h3>Estabelicimentos</h3>
								<p>Encontrole todos os estabelecimentos perto de você. Pizzarias, Restaurantes, Supermercados... e muito mais!</p>
								<!--<ul class="actions">
									<li><a href="#" class="button alt">...</a></li>
								</ul>-->
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><%= image_tag ("pic03.jpg")%></span>
								<h3>Serviços</h3>
								<p>Encontre todos os serviços perto de você sem precisar sair de casa.</p>
								<!--<ul class="actions">
									<li><a href="#" class="button alt">...</a></li>
								</ul>-->
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Inscreva-se na versão beta</h2>
					<p>Faça seu cadastro em nossa versão beta e tenha acesso a mais recursos.</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="E-mail" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Cadastrar" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>


		</div>

		<!-- Scripts -->
			<script src="/assets/jquery.js"></script>
			<script src="/assets/template/jquery.dropotron.min.js"></script>
			<script src="/assets/template/jquery.dropotron.min.js"></script>
			<script src="/assets/template/jquery.scrollgress.min.js"></script>
			<script src="/assets/template/skel.min.js"></script>
			<script src="/assets/template/util.js"></script>
		 <!--<script src="/assets/all/googleAnalytcs.js"></script>-->
			<script src="/assets/jquery-ui.js"></script>
			
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/template/main.js"></script>

<script type="text/javascript">

function SelecionarBairro(id){
	$("#bairro").val(id);
	$("#BotaoPesquisa").click();

}

$(document).ready(function() {
	     $('#nome_bairro').autocomplete({
	     source: '/busca',
	     dataType: 'json',
	     minLength: 0,
	     change: function(event, ui) {
	     if (!ui.item) {
           $('#nome_bairro').val('');
	   }
	 },

select: function(event, ui) {
	if (ui.item) {
	  $("#bairro").val(ui.item.id);
	  }
	 }
	});
 });


function Pesquisar(){
    $("#BotaoPesquisa").click();
   }

</script>