<div class="panel-group" style="margin-top:60px">
  <% @st_empresas.each do |empresa| %>

   <div id="panelCentral" class="panel panel-default">
    <div class="panel-body">
     <div class="media">
          <a href="#" class="pull-right" >
             <%= image_tag (empresa.logo.url(:thumb))%>
          </a>
          <div class="media-body">
              <a href="#"><h4 class="media-heading" style ="color:#555555"><strong><%=empresa.nome_empresa%><!--<small><i>Posted on January 10, 2014</i></small>--></strong></h4> </a>
              <small style ="font-size:12px;color:#555555"><%=empresa.st_endereco.nome_rua%> Quadra <%=empresa.st_endereco.desc_quadra%> Lote <%=empresa.st_endereco.desc_lote%> - <%=empresa.st_endereco.st_bairro.nome_bairro%>, <%=empresa.st_endereco.st_cidade.nome_cidade %> - <%=empresa.st_endereco.st_cidade.st_estado.nome_estado%></small><br>
          </div>
      </div>
    </div>
</div>
<%end%>
</div>



  <%= form_tag(pesquisa_path, :method=>'GET') do %>

      <input type="hidden" id="categoria" name="categoria">
      <input type="hidden" id="q" name="q" >
     <button class="btn btn-primary" style="display: none;" id="BotaoPesquisa" type="submit" ></button>

  <%end%>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Categorias</h4>
      </div>
      <div class="modal-body">

        Pesquisa por categorias.....
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Setores</h4>
      </div>
      <div class="modal-body">

        Pesquisa por categorias.....
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>

<style type="text/css">
#panelCentral:hover{
 background-color:#fffbcf;
}


  a:hover {
  color: #0088cc;
  background-color:transparent ;
 }

</style>


<script type="text/javascript">
  
  function Pesquisar(id){
     $("#categoria").val(id);
     $("#BotaoPesquisa").click();
   }

</script>