<div class="panel panel-default" style="margin-top:60px">
<div class="panel-heading" style="background:#e89980" align="center"></div>	
  <div class="panel-body"> 
     <a href="#" class="pull-left" >
             <%= image_tag (@st_empresa.logo.url(:thumb))%>
     </a>
      <h2 align="center"><%=@st_empresa.nome_empresa%></h2>
     <br>
     <hr>
   
    <small><%=@st_empresa.st_endereco.nome_rua rescue nil%> Quadra <%=@st_empresa.st_endereco.desc_quadra  rescue nil%> Lote <%=@st_empresa.st_endereco.desc_lote  rescue nil%> - <%=@st_empresa.st_endereco.st_bairro.nome_bairro  rescue nil%>, <%=@st_empresa.st_endereco.st_cidade.nome_cidade  rescue nil%> - <%=@st_empresa.st_endereco.st_cidade.st_estado.nome_estado  rescue nil%></small><br>

     Tel: <small><%=@st_empresa.tele_telefone1%> |</small>
     <small><%=@st_empresa.tele_telefone2%></small>	
  </div>
</div>

<%if @st_empresa.st_category.nome_categoria == "Pizzarias"%>
   <%= render 'cardapio' %>
<%end%>

<style type="text/css">

/*#panelCentral:hover{
 background-color:#f8ded7;
}*/

</style>