<%= form_for(@st_tamanhoproduto) do |f| %>
  <% if @st_tamanhoproduto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@st_tamanhoproduto.errors.count, "error") %> prohibited this st_tamanhoproduto from being saved:</h2>

      <ul>
      <% @st_tamanhoproduto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc_tamanho %><br>
    <%= f.text_field :desc_tamanho %>
  </div>
  <div class="field">
    <%= f.label :valr_produto %><br>
    <%= f.text_field :valr_produto %>
  </div>
  <div class="field">
    <%= f.label :st_produtos_id %><br>
    <%= f.text_field :st_produtos_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
