<p id="notice"><%= notice %></p>

<p>
  <strong>Desc tamanho:</strong>
  <%= @st_tamanhoproduto.desc_tamanho %>
</p>

<p>
  <strong>Valr produto:</strong>
  <%= @st_tamanhoproduto.valr_produto %>
</p>

<p>
  <strong>St produtos:</strong>
  <%= @st_tamanhoproduto.st_produtos %>
</p>

<%= link_to 'Edit', edit_st_tamanhoproduto_path(@st_tamanhoproduto) %> |
<%= link_to 'Back', st_tamanhoprodutos_path %>
