<p id="notice"><%= notice %></p>

<p>
  <strong>St item:</strong>
  <%= @st_itemproduto.st_item %>
</p>

<p>
  <strong>St produto:</strong>
  <%= @st_itemproduto.st_produto %>
</p>

<%= link_to 'Edit', edit_st_itemproduto_path(@st_itemproduto) %> |
<%= link_to 'Back', st_itemprodutos_path %>
