<nav class="navbar navbar-default navbar-fixed-top" style="background:#3b7098">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%=root_path%>"><%= image_tag ("logo.png")%></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
          </ul>

      <ul class="nav navbar-nav navbar-right">

       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Cadastrar Produtos', st_produtos_path%></li>
            <li><%= link_to 'Categoria Produtos', st_categoriaprodutos_path%></li>
            <li><%= link_to 'Itens', st_items_path%></li>
            
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configurações <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Cadastrar Produtos</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
       </div><!--/.nav-collapse -->
   </div>
</nav>


<style type="text/css">

.navbar-default .navbar-nav > li > a {
    color: #d5d5d5;
}

.navbar-default .navbar-brand {
    color: #fbfbfb;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
}


</style>