<!DOCTYPE html>
<html>
<head>
  <title>Kiperto</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <%= javascript_include_tag "application-all" %>
   <%= stylesheet_link_tag    "application-all" %>
   <%= csrf_meta_tags %>

     <%= render 'layouts/menuhome' %>
</head>
<body style="background:#f7f7f8">
     
  <div class="container"  style="margin-top:60px">
     <%= yield %>
  </div>

</body>
</html>