<!DOCTYPE html>
<html>
<head>
  <title>Kiperto</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <%= stylesheet_link_tag    "application-all" %>
    <%= javascript_include_tag "application-all" %>
    <%= csrf_meta_tags %>

     <%= render 'layouts/menu' %>
</head>
<body style="background:#f7f7f8">
            
	<div class="row"> <!-- 3 + 6 + 3 = 12 -->
	    <div class="col-md-3"> 
         	<%= render 'layouts/shim' %>
	    </div>
	    <div class="col-md-6"> 
	    	 <%= yield %>
	    </div>
	    <div class="col-md-3"> </div>
	</div>

</body>
</html>

