<!DOCTYPE html>
<html>
<head>
  <title>Kiperto</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>

     <%= render 'layouts/menuhome' %>
</head>
<body style="background:#f7f7f8">
     
  <div class="container">
     <%= yield %>
  </div>

</body>
</html>